*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'montserrat';
}

#title{
    background-color: #ff4c68;
}

.container-fluid{
    padding: 3% 15% 7%;
}

h1 {  font-family: 'Montserrat, sans-serif';  font-size: 3.5rem;  line-height: 1.5;  font-weight: 900; color: whitesmoke;}


/* Navbar-section */

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: 'Montserrat-light';
    font-size: 1.2rem;
    
}

/* Download Botton */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image{
    width: 21%;
    transform: rotate(25deg);
    position: absolute;
    z-index: 1;
    right: 354px;
    

    
}


/* Features Section */

h3{
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: bold;
    
}

p{
    color: #8f8f8f;
    /* font-size: 1.25rem; */
}

.features-icon{
    color: #ef8172;
    margin-bottom: 1rem;
    
}

.features-icon:hover{
    color: #ff4c68;
}

.features-container{
    padding: 7% 15%;
}

.features-box-1{
    text-align: center;
    padding: 4%;
}
.features-box-2{
    text-align: center;
    padding: 4%;
}

.features-box-3{
    text-align: center;
    padding: 4%;
}

#features{
    position: relative;
    z-index:2;
    background-color: #fff;
}

/* Testimonial Section */

#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

h2{
    font-family: 'Montserrat-Bold';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

/* Pricing Section */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

@media (max-width:1028px){

    .title-image{
        position: static;
        width: 60%;
        transform: rotate(0deg);     
    }

   #title{
    text-align: center;
   }
}

/* Call To Action */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    }

    .cta-desc{
    font-family: 'Montserrat-Black';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
    
    }


/* Footer Section */

#footer{
    background-color: #fff;
}

.footer-icon{
    text-align: center;
    margin: 50px 20px;
}

.footer-brand{
    margin: 0 15px;
    margin-bottom: 25px;
}
